body {
    margin: 0;
    padding: 0;
    font-family: "Arcade Normal";
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#home img{
    margin: 80px;
    width: 400px;
}

#home h1 {
    padding-top: 10px;
    font-size: 110px;
}

button {
    margin-top: 20px;
    font-size: 20px;
    font-family: "Arcade Normal";
    border:0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    animation: blinker 2s linear infinite;
    opacity: 1;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

#myCanvas {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
}

#game-over {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#game-over img{
    margin: 80px;
    width: 600px;
}

#game-over button {
    font-size: 50px;
    text-align: center;
    padding-left: 210px;
}